.ui.button.start {
    font-size: 2.25rem !important;
}

.ui.input {
    color: white !important;
    margin-bottom: 1.25rem;
}

.ui.input > input {
    font-size: var(--text-size);
    outline: none;
    width:22.5rem;
    border: none !important;
    border-bottom: 1px solid white !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    transition: border 1s ease-in-out;
    color: white !important;
}

.ui.input > input:focus{
    border: none;
    border-bottom: 1px solid var(--accent-color) !important;
}